﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.EquiposIndexModel

@{


}

<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Equipo</h3>
                </div>
                <div class="box-header with-border">
                    <label class="text-success">@TempData["success"]</label>
                    <label class="text-success">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nombre</th>
                                <th>Pais</th>
                                <th>Huso Horario</th>
                                <th>Horas Disponibles Programador</th>
                                <th>Cantidad de Programadores</th>
                                <th>Conocimientos del Equipo</th>
                                <th>Programadores</th>
                                <th>Acciones</th>
                            </tr>              
                            @foreach (var equipo in Model.Equipos)
                            {
                                <tr>
                                    <td>@equipo.ID</td>
                                    <td>@equipo.Nombre</td>
                                    <td>@equipo.Pais</td>
                                    <td>@equipo.HusoHorario</td>
                                    <td>@equipo.CantidadHorasDisponibleProgramadores()</td>
                                    <td>@equipo.CantidadProgramadores</td>
                                    <td>
                                        <a href="/SkillsEquipo/Index/?idequipo=@Model.Equipos.IndexOf(equipo)" title="Listado de Conocimientos" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-users"></i> Conocimientos</label>
                                        </a>
                                        <a href="/SkillsEquipo/create/?idequipo=@Model.Equipos.IndexOf(equipo)" title="Nuevo Conocimiento" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-share"></i> Nuevo Conocimientos</label>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Programadores/Index/?idequipo=@Model.Equipos.IndexOf(equipo)" title="Listado de Programadores" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-users"></i> Programadores</label>
                                        </a>
                                        <a href="/Programadores/new/@Model.Equipos.IndexOf(equipo)" title="Nuevo Programador" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-share"></i> Nuevo Programadores</label>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/Equipos/edit/@equipo.ID" title="Editar" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                        </a>
                                        <a href="/Equipos/delete/@equipo.ID" title="borrar" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                        </a>
                                    </td>
                                </tr>

                            }
                            <tr>
                                <td colspan="5">
                                    <a href="/Equipos/new" title="Nuevo" role="button" class="btn btn-primary">
                                        <i class="fa fa-plus"> Nuevo</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination justify-content-center">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>

@section Scripts{
    <script>
    </script>
}
