﻿@model EscuelaNet.Presentacion.Programadores.Web.Models.ProgramadoresIndexModel

@{

}

<div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">@Model.Titulo</h3>
                </div>
                <div class="box-header with-border">
                    <label class="text-success">@TempData["success"]</label>
                    <label class="text-success">@TempData["error"]</label>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Legajo</th>
                                <th>Rol</th>
                                <th>Disponibilidad</th>
                                <th>Conocimiento</th>
                                <th>Acciones</th>
                            </tr>
                            @foreach (var programador in Model.Programadores)
                            {
                                <tr>
                                    <td>@programador.ID</td>
                                    <td>@programador.Nombre</td>
                                    <td>@programador.Apellido</td>
                                    <td>@programador.Legajo</td>
                                    <td>@programador.Rol</td>
                                    <td>@programador.Disponibilidad</td>
                                    <td>
                                        <!--<a href="/Skills/index/?idequipo=Model.idEquipo&idprogramador=Model.Programadores.IndexOf(programador)" title="Conocimientos" class="btn btn-toolbar">
                                               <label class="label bg-gray"><i class="fa fa-spinner"></i> Lista de Conocimiento</label>
                                           </a>
                                           <a href="/Skills/create/?idequipo=Model.idEquipo&idprogramador=Model.Programadores.IndexOf(programador)" title="Nuevos Conocimientos" class="btn btn-toolbar">
                                               <label class="label bg-gray"><i class="fa fa-share"></i> Nuevo Conocimiento</label>
                                           </a>-->
                                    </td>
                                    <td>
                                        <a href="/Programadores/edit/@programador.ID" title="Editar" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-edit"></i> Editar</label>
                                        </a>
                                        <a href="/Programadores/delete/@programador.ID" title="borrar" class="btn btn-toolbar">
                                            <label class="label bg-gray"><i class="fa fa-remove"></i> Borrar</label>
                                        </a>
                                    </td>
                                </tr>

                            }
                            <tr>
                                <td colspan="5">
                                    <a href="/Programadores/new" role="button" title="Nuevo" class="btn btn-primary">
                                        <i class="fa fa-plus"> Nuevo</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination justify-content-center">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
      </div>

@section Scripts{
    <script>
    </script>
}
